# Code with me: Python_02

Hello everyone! Thank you for opening this file. This means you just started the first step of further Python learning.
In the last section, Jing gave an interesting lecture about the introduction of Python. In this lecture, we will revise some of them and learn new things as well.

## 1.Data types

### 1.1 Integers & floats

An integer is a number that can be written without a fractional part (no decimal). 
An integer can be a positive number, a negative number or the number 0.

In [ ]:
# Integer numbers
apples = 6
bananas = 2
lemons = 0
nothing = -2

The number 0 represents an integer value but the same number written as 0.0 would represent a floating point number.

### 1.2 Floating point numbers

A floating point number is a value that contains a decimal portion. It can be used to represent numbers that have fractional quantities. For example, a = 3/5 can not be represented as an integer, so the variable a is assigned a floating point value of 0.6.

In [ ]:
# Floating point numbers
pi = 3.14159
price = 12.99
p_value = 1.2e-5 # 0.000012

Python has two division ways.    
One is '/', whose result is a floating-point number, even though the result is an interger.

In [ ]:
10 / 3

In [ ]:
# The situation where the result is an integer
9/3

Another kind of division is '//', which is also known as floor division. This division takes only the integral part of the result.

In [ ]:
10 // 3

**** Code with me: try to calculate the following fomula and run the cell to check**

In [ ]:
print('30/3 =', 30/3)
print('29/3 =', 29/3)
print('29//3 =', 29//3)

### 1.3 Strings & variables (revise)

**** Code with me: try to set each word to an variables, and apply string concatenation to generate a sentence 'I love Python'**

In [ ]:
# Practice here
# First, build three variables to save each word 'I', 'love', 'Python'.


# Next, using string concatenation to 'add' three words to a new variable, which is the whole sentence.


# Last, print out the new variable to see the result

## 2. List

In Python, lists are ordered collections of items that allow for easy use of a set of data.     
List values are placed in between square brackets [ ], separated by commas.

In [ ]:
# An example list
myList = ['a', 'b', 'c']

Lists can contain multiple different data types within the same square brackets.

In [ ]:
# This list contains all numbers
numbers = ['6', '2', '20', '0']
# This list contains all strings
strings = ['apple', 'banana', 'lemon', 'apple']
# This list contains mixed data types
mixed = ['we', 'have', '6', 'apples']
# This list is more complicated, which contains other lists
list_of_lists = [['apple', 6], ['banana', 2]]

**** Code with me: create a new list.**

In [ ]:
# Suppose Tom is 4 years old and Jerry is 3. Create a list contains their names and ages.
information = 

# Print the list

In Python, lists can be added to each other using the plus symbol '+'.

In [ ]:
added = numbers + ['33', '66']
print(added)

In [ ]:
total = numbers + strings
print(total)

**** Code with me: add two lists.**

In [ ]:
# Add a list within 'Spike' and 5 to the list 'information'. Name the new list as 'all_info'
all_info = 

# Print to see the result

How can we count the number of the elements in a list?

In [ ]:
# len() function can be used to determine the number of items found in the list.
print('The list strings has',len(strings), 'elements.')
print('The list total has',len(total), 'elements.')

**** Code with me: how many elements are in the list all_info now?**

In [ ]:
# Try to LET PYTHON count the number of elements in the list all_info

Python list elements are ordered by *index*, a number referring to their placement in the list.     
To access a list element by index, square bracket notation is used: list[index].     
**Notice: In Python, list index begins at zero and ends at the length of the list minus one.**

In [ ]:
# Extract the fisrt and the sixth elements in the list total
print('The first element in the list total is',total[0])
print('The sixth element in the list total is',total[5])

You can also access an element through negative indices. Negetive indices starts from -1.

In [ ]:
# Two ways to access the second-to-last element in the list total
# By indices
total[6]
total[len(total)-2]

# By negative indices
total[-2]

**** Code with me: find specific elements by their locations in a list.**

In [ ]:
# Output the second element in the list all_info, should be 4

In [ ]:
# Output the last element in the list all_info, which is 5

What if we want to select a slice, or sub-list of Python list elements from a list?
-> List slicing!

The syntax pattern is myList[START_NUMBER:END_NUMBER].    
**The slice will include the START_NUMBER index, and everything until but excluding the END_NUMBER item.**

In [ ]:
# Slice by indices
total[0:4]

In [ ]:
# Omit the STRAT_NUMBER 0 or the END_NUMBER the length of the list
total[:4]

In [ ]:
# Slice by negative indices
# To select the last three elements
total[-3:]

In [ ]:
# To select everything except the last two elements
total[:-2]

The sliced list is saved to a new list, the original list remains the same. Let's check...

In [ ]:
# Original list is unaltered
print(total)

**** Code with me: select a slice of a Python list**

In [ ]:
# Extract Jerry's information (the third and the fourth items)

## Next time: loop, function ...